In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data= pd.read_csv(r"C:\Users\light\Desktop\data analysis\datasets\project data from youtube(project 8)\data_cleaning_challenge.csv")

In [3]:
df_cleaning= data.copy()

In [4]:
df_cleaning

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Unnamed: 9,Unnamed: 10
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,NaN,NaN
3,Iter,1,360,108,863,599,680,442,982,NaN,NaN
4,Iter,2,684,508,613,241,249,758,639,NaN,NaN
5,Iter,3,365,126,825,407,855,164,86,NaN,NaN
6,Iter,4,764,594,304,718,278,674,774,NaN,NaN
7,Iter,5,487,97,593,206,779,800,123,NaN,NaN
8,Average,182,361,741,231,731,493,847,237,NaN,NaN
9,Maximum,276,33,97,154,25,922,9,312,NaN,NaN
10,Std.Dev.,523,1000,34,904,237,600,170,553,NaN,NaN
11,Total,336,-,-,-,-,977,744,652,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,NaN,NaN
17,Iter,1,702,494,311,492,456,370,150,NaN,NaN
18,Iter,2,929,82,838,421,154,346,227,NaN,NaN
19,Iter,3,763,402,344,951,139,295,285,NaN,NaN
20,Iter,4,469,930,560,395,433,237,429,NaN,NaN
21,Iter,5,688,145,41,188,534,778,152,NaN,NaN
22,Average,66,307,835,615,731,943,460,76,NaN,NaN
23,Maximum,329,402,777,664,98,44,932,409,NaN,NaN
24,Std.Dev.,439,770,222,395,3,97,802,570,NaN,NaN
25,Total,287,-,-,-,-,655,169,620,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
76347,Total,758,-,-,-,-,813,224,950,NaN,NaN
76348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76350,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76352,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,NaN,NaN
76353,Iter,1,294,469,91,243,439,223,32,NaN,NaN
76354,Iter,2,661,750,489,519,314,828,946,NaN,NaN
76355,Iter,3,505,581,45,892,808,19,70,NaN,NaN
76356,Iter,4,663,8,684,597,109,149,763,NaN,NaN
76357,Iter,5,834,133,805,907,798,155,954,NaN,NaN
76358,Average,510,427,854,36,498,241,234,161,NaN,NaN
76359,Maximum,156,273,144,373,409,836,204,374,NaN,NaN
76360,Std.Dev.,541,260,5,889,364,731,285,345,NaN,NaN
76361,Total,538,-,-,-,-,100,640,206,NaN,NaN
76362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76364,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76366,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,NaN,NaN
76367,Iter,1,51,210,277,993,894,384,174,NaN,NaN
76368,Iter,2,623,2,179,400,34,711,197,NaN,NaN
76369,Iter,3,624,745,663,239,623,635,371,NaN,NaN
76370,Iter,4,311,267,247,277,209,622,932,NaN,NaN
76371,Iter,5,137,717,778,975,207,447,151,NaN,NaN
76372,Iter,6,879,73,977,680,500,395,863,NaN,NaN
76373,Average,979,641,531,374,448,407,185,439,NaN,NaN
76374,Maximum,783,172,941,53,982,217,963,502,NaN,NaN
76375,Std.Dev.,221,112,717,630,239,561,142,909,NaN,NaN
76376,Total,429,-,-,-,-,847,583,407,NaN,NaN

In [5]:
df_cleaning.isna().sum()

Row Type       17980
Iter Number    17980
Power1         17980
Speed1         23974
Speed2         23974
Electricity    23974
Effort         23974
Weight         23974
Torque         23974
Unnamed: 9     76377
Unnamed: 10    76294
dtype: int64

In [6]:
# checking the non null values in "Unnamed : 10" column
df_cleaning[~df_cleaning['Unnamed: 10'].isna()]

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Unnamed: 9,Unnamed: 10
59350,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: test note
60641,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60653,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60663,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60673,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60683,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60695,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60705,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60716,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60726,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60737,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60747,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60758,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60768,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60778,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60789,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60801,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60813,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60826,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60839,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60849,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60860,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60872,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60884,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60896,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60907,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60917,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60928,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
60938,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
61023,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
...,...,...,...,...,...,...,...,...,...,...,...
61599,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
61616,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
61626,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
61645,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
61656,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
61676,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62191,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62203,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62215,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62239,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62277,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62288,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62591,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62605,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62619,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62633,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 2BLOCK
62898,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: Open Hex Bar
62913,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: Open Hex Bar
62925,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: Open Hex Bar
62937,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: Open Hex Bar
62953,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: Open Hex Bar
68709,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 blocks
69714,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 BLOCK
69848,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 BLOCKS
69858,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 BLOCKS
69872,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 BLOCKS
69884,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 BLOCKS
69896,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 BLOCKS
69922,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 BLOCKS
69946,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notes: 4 BLOCKS

In [7]:
# checking the unique values from 'Unnamed: 10' column
df_cleaning['Unnamed: 10'].unique()

array([nan, 'notes: test note', 'notes: 2BLOCK', 'notes: Open Hex Bar',
       'notes: 4 blocks', 'notes: 4 BLOCK', 'notes: 4 BLOCKS'],
      dtype=object)

In [8]:
# "Unnamed: 9" is null column and Unnamed: 10" has all the irrelevent values.
# hence dropping these columns

df_cleaning.drop(columns= ['Unnamed: 9', 'Unnamed: 10'], inplace= True)

In [9]:
df_cleaning.dropna(axis= 0, how= 'all', inplace= True)

NumExpr defaulting to 8 threads.

In [10]:
df_cleaning.head(10)

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
3,Iter,1,360,108,863,599,680,442,982
4,Iter,2,684,508,613,241,249,758,639
5,Iter,3,365,126,825,407,855,164,86
6,Iter,4,764,594,304,718,278,674,774
7,Iter,5,487,97,593,206,779,800,123
8,Average,182,361,741,231,731,493,847,237
9,Maximum,276,33,97,154,25,922,9,312
10,Std.Dev.,523,1000,34,904,237,600,170,553

In [11]:
# creating a new list for iteration
column_values= []
counter= 0
for i in df_cleaning['Row Type']:
    if 'first name' in i:
        counter += 1
    column_values.append(counter)

In [12]:
# adding the iteration column in the table
df_cleaning['iteration']= column_values

In [13]:
df_cleaning.head(10)

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,iteration
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
7,Iter,5,487,97,593,206,779,800,123,1
8,Average,182,361,741,231,731,493,847,237,1
9,Maximum,276,33,97,154,25,922,9,312,1
10,Std.Dev.,523,1000,34,904,237,600,170,553,1

In [14]:
# dropping extra rows:

df_cleaning= df_cleaning[df_cleaning['Row Type'] != 'Row Type']

In [15]:
df_cleaning.head(10)

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,iteration
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
7,Iter,5,487,97,593,206,779,800,123,1
8,Average,182,361,741,231,731,493,847,237,1
9,Maximum,276,33,97,154,25,922,9,312,1
10,Std.Dev.,523,1000,34,904,237,600,170,553,1
11,Total,336,-,-,-,-,977,744,652,1

In [16]:
df_cleaning_1= df_cleaning[df_cleaning['Row Type'].str.contains('first name')]
df_cleaning_1

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,iteration
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
14,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,2
28,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,3
42,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,4
56,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5
68,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,6
80,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,7
92,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,8
104,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,9
116,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,10
128,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,11
140,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,12
152,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,13
164,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,14
177,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,15
189,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,16
201,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,17
213,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,18
228,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,19
243,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,20
256,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,21
269,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,22
282,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,23
294,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,24
308,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,25
322,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,26
337,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,27
352,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,28
365,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,29
378,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,30
...,...,...,...,...,...,...,...,...,...,...
75982,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5965
75996,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5966
76010,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5967
76024,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5968
76038,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5969
76052,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5970
76066,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5971
76080,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5972
76094,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5973
76108,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5974
76120,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5975
76132,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5976
76144,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5977
76156,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5978
76168,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5979
76180,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5980
76194,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5981
76208,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5982
76222,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5983
76234,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5984
76248,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5985
76260,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5986
76273,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5987
76285,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5988
76297,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5989
76309,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5990
76322,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5991
76336,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5992
76350,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5993
76364,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5994

In [18]:
# droping extra column from 'df_cleaning_1' column
df_cleaning_1= df_cleaning_1.drop(columns= ['Speed1', 'Speed2', 'Electricity', 'Effort', 'Weight', 'Torque'])

In [19]:
# renaming the columns:
df_cleaning_1.rename(columns= {'Row Type': 'first name',
                               'Iter Number' : 'last name',
                               'Power1' : 'date'}, inplace= True)

In [43]:
# removing extra values:

df_cleaning_1['first name']= df_cleaning_1['first name'].str.lstrip('first name: ')
df_cleaning_1['last name']= df_cleaning_1['last name'].str.lstrip('last name: ')
df_cleaning_1['date']= df_cleaning_1['date'].str.lstrip('date:')

In [49]:
df_cleaning_1

      first name last name          date  iteration
0         Person     Human   end of time          1
14        Person     Human   end of time          2
28        Person     Human   end of time          3
42        Person     Human   end of time          4
56        Person     Human   end of time          5
...          ...       ...           ...        ...
76309     Person     Human   end of time       5990
76322     Person     Human   end of time       5991
76336     Person     Human   end of time       5992
76350     Person     Human   end of time       5993
76364     Person     Human   end of time       5994

[5994 rows x 4 columns]

In [52]:
df_cleaning_2= df_cleaning[~df_cleaning['Row Type'].str.contains('first name')]

In [58]:
# mergin both datasets:
df_cleaning_3= pd.merge(left= df_cleaning_1, right= df_cleaning_2, how= 'inner', on= 'iteration')

In [59]:
df_cleaning_3

,first name,last name,date,iteration,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,Person,Human,end of time,1,Iter,1,360,108,863,599,680,442,982
1,Person,Human,end of time,1,Iter,2,684,508,613,241,249,758,639
2,Person,Human,end of time,1,Iter,3,365,126,825,407,855,164,86
3,Person,Human,end of time,1,Iter,4,764,594,304,718,278,674,774
4,Person,Human,end of time,1,Iter,5,487,97,593,206,779,800,123
5,Person,Human,end of time,1,Average,182,361,741,231,731,493,847,237
6,Person,Human,end of time,1,Maximum,276,33,97,154,25,922,9,312
7,Person,Human,end of time,1,Std.Dev.,523,1000,34,904,237,600,170,553
8,Person,Human,end of time,1,Total,336,-,-,-,-,977,744,652
9,Person,Human,end of time,2,Iter,1,702,494,311,492,456,370,150
10,Person,Human,end of time,2,Iter,2,929,82,838,421,154,346,227
11,Person,Human,end of time,2,Iter,3,763,402,344,951,139,295,285
12,Person,Human,end of time,2,Iter,4,469,930,560,395,433,237,429
13,Person,Human,end of time,2,Iter,5,688,145,41,188,534,778,152
14,Person,Human,end of time,2,Average,66,307,835,615,731,943,460,76
15,Person,Human,end of time,2,Maximum,329,402,777,664,98,44,932,409
16,Person,Human,end of time,2,Std.Dev.,439,770,222,395,3,97,802,570
17,Person,Human,end of time,2,Total,287,-,-,-,-,655,169,620
18,Person,Human,end of time,3,Iter,1,618,728,829,925,777,943,412
19,Person,Human,end of time,3,Iter,2,191,887,652,255,214,42,343
20,Person,Human,end of time,3,Iter,3,288,352,434,960,106,326,797
21,Person,Human,end of time,3,Iter,4,443,421,954,550,113,867,705
22,Person,Human,end of time,3,Iter,5,452,430,57,115,680,449,146
23,Person,Human,end of time,3,Average,769,535,217,840,172,474,424,189
24,Person,Human,end of time,3,Maximum,317,573,326,989,867,686,559,169
25,Person,Human,end of time,3,Std.Dev.,52,27,49,696,249,886,175,218
26,Person,Human,end of time,3,Total,98,-,-,-,-,40,686,585
27,Person,Human,end of time,4,Iter,1,372,592,393,453,624,34,334
28,Person,Human,end of time,4,Iter,2,546,679,734,612,382,917,920
29,Person,Human,end of time,4,Iter,3,2,357,301,139,935,722,996
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46379,Person,Human,end of time,5991,Std.Dev.,252,723,528,315,669,301,788,909
46380,Person,Human,end of time,5991,Total,900,-,-,-,-,354,616,851
46381,Person,Human,end of time,5992,Iter,1,434,985,479,299,75,21,304
46382,Person,Human,end of time,5992,Iter,2,334,605,535,595,222,328,241
46383,Person,Human,end of time,5992,Iter,3,571,187,584,28,743,705,298
46384,Person,Human,end of time,5992,Iter,4,303,544,901,894,824,265,506
46385,Person,Human,end of time,5992,Iter,5,170,930,119,455,588,591,714
46386,Person,Human,end of time,5992,Average,704,222,14,561,871,905,391,150
46387,Person,Human,end of time,5992,Maximum,159,601,250,911,34,587,241,385
46388,Person,Human,end of time,5992,Std.Dev.,987,586,798,212,998,133,709,178
46389,Person,Human,end of time,5992,Total,758,-,-,-,-,813,224,950
46390,Person,Human,end of time,5993,Iter,1,294,469,91,243,439,223,32
46391,Person,Human,end of time,5993,Iter,2,661,750,489,519,314,828,946
46392,Person,Human,end of time,5993,Iter,3,505,581,45,892,808,19,70
46393,Person,Human,end of time,5993,Iter,4,663,8,684,597,109,149,763
46394,Person,Human,end of time,5993,Iter,5,834,133,805,907,798,155,954
46395,Person,Human,end of time,5993,Average,510,427,854,36,498,241,234,161
46396,Person,Human,end of time,5993,Maximum,156,273,144,373,409,836,204,374
46397,Person,Human,end of time,5993,Std.Dev.,541,260,5,889,364,731,285,345
46398,Person,Human,end of time,5993,Total,538,-,-,-,-,100,640,206
46399,Person,Human,end of time,5994,Iter,1,51,210,277,993,894,384,174
46400,Person,Human,end of time,5994,Iter,2,623,2,179,400,34,711,197
46401,Person,Human,end of time,5994,Iter,3,624,745,663,239,623,635,371
46402,Person,Human,end of time,5994,Iter,4,311,267,247,277,209,622,932
46403,Person,Human,end of time,5994,Iter,5,137,717,778,975,207,447,151
46404,Person,Human,end of time,5994,Iter,6,879,73,977,680,500,395,863
46405,Person,Human,end of time,5994,Average,979,641,531,374,448,407,185,439
46406,Person,Human,end of time,5994,Maximum,783,172,941,53,982,217,963,502
46407,Person,Human,end of time,5994,Std.Dev.,221,112,717,630,239,561,142,909
46408,Person,Human,end of time,5994,Total,429,-,-,-,-,847,583,407

In [67]:
# further cleaning the table

df_cleaning_4= df_cleaning_3[~((df_cleaning_3['Row Type'] =='Average') | (df_cleaning_3['Row Type'] == 'Maximum') |
               (df_cleaning_3['Row Type'] =='Std.Dev.') | (df_cleaning_3['Row Type'] == 'Total'))]

In [70]:
df_cleaning_4.drop(columns= 'iteration', inplace= True)

C:\Users\light\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [73]:
df_cleaning_4.reset_index(drop= True, inplace= True)

In [75]:
# so our final filtered table is:

df_cleaning_4

,first name,last name,date,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,Person,Human,end of time,Iter,1,360,108,863,599,680,442,982
1,Person,Human,end of time,Iter,2,684,508,613,241,249,758,639
2,Person,Human,end of time,Iter,3,365,126,825,407,855,164,86
3,Person,Human,end of time,Iter,4,764,594,304,718,278,674,774
4,Person,Human,end of time,Iter,5,487,97,593,206,779,800,123
5,Person,Human,end of time,Iter,1,702,494,311,492,456,370,150
6,Person,Human,end of time,Iter,2,929,82,838,421,154,346,227
7,Person,Human,end of time,Iter,3,763,402,344,951,139,295,285
8,Person,Human,end of time,Iter,4,469,930,560,395,433,237,429
9,Person,Human,end of time,Iter,5,688,145,41,188,534,778,152
10,Person,Human,end of time,Iter,1,618,728,829,925,777,943,412
11,Person,Human,end of time,Iter,2,191,887,652,255,214,42,343
12,Person,Human,end of time,Iter,3,288,352,434,960,106,326,797
13,Person,Human,end of time,Iter,4,443,421,954,550,113,867,705
14,Person,Human,end of time,Iter,5,452,430,57,115,680,449,146
15,Person,Human,end of time,Iter,1,372,592,393,453,624,34,334
16,Person,Human,end of time,Iter,2,546,679,734,612,382,917,920
17,Person,Human,end of time,Iter,3,2,357,301,139,935,722,996
18,Person,Human,end of time,Iter,4,474,41,57,934,250,801,389
19,Person,Human,end of time,Iter,5,715,278,862,460,377,893,94
20,Person,Human,end of time,Iter,1,146,596,946,165,942,39,715
21,Person,Human,end of time,Iter,2,452,547,999,827,103,495,340
22,Person,Human,end of time,Iter,3,506,788,308,197,179,974,44
23,Person,Human,end of time,Iter,1,504,517,395,953,582,353,603
24,Person,Human,end of time,Iter,2,24,561,908,650,896,719,714
25,Person,Human,end of time,Iter,3,201,913,64,351,979,571,235
26,Person,Human,end of time,Iter,1,779,504,574,5,564,375,604
27,Person,Human,end of time,Iter,2,713,720,952,72,167,208,174
28,Person,Human,end of time,Iter,3,677,19,35,976,274,684,586
29,Person,Human,end of time,Iter,1,682,247,118,790,523,377,969
...,...,...,...,...,...,...,...,...,...,...,...,...
22403,Person,Human,end of time,Iter,2,945,392,95,138,348,932,583
22404,Person,Human,end of time,Iter,3,251,334,105,332,505,42,913
22405,Person,Human,end of time,Iter,1,530,650,146,267,982,242,515
22406,Person,Human,end of time,Iter,2,23,683,627,160,582,466,875
22407,Person,Human,end of time,Iter,3,448,273,482,748,186,863,857
22408,Person,Human,end of time,Iter,1,877,262,70,681,585,681,987
22409,Person,Human,end of time,Iter,2,575,385,907,391,10,112,956
22410,Person,Human,end of time,Iter,3,505,939,870,88,48,95,877
22411,Person,Human,end of time,Iter,4,139,45,345,256,95,30,552
22412,Person,Human,end of time,Iter,1,401,183,322,394,994,90,712
22413,Person,Human,end of time,Iter,2,665,138,153,812,359,156,185
22414,Person,Human,end of time,Iter,3,325,336,454,15,205,832,229
22415,Person,Human,end of time,Iter,4,402,181,734,575,487,353,963
22416,Person,Human,end of time,Iter,5,213,949,537,932,405,140,939
22417,Person,Human,end of time,Iter,1,434,985,479,299,75,21,304
22418,Person,Human,end of time,Iter,2,334,605,535,595,222,328,241
22419,Person,Human,end of time,Iter,3,571,187,584,28,743,705,298
22420,Person,Human,end of time,Iter,4,303,544,901,894,824,265,506
22421,Person,Human,end of time,Iter,5,170,930,119,455,588,591,714
22422,Person,Human,end of time,Iter,1,294,469,91,243,439,223,32
22423,Person,Human,end of time,Iter,2,661,750,489,519,314,828,946
22424,Person,Human,end of time,Iter,3,505,581,45,892,808,19,70
22425,Person,Human,end of time,Iter,4,663,8,684,597,109,149,763
22426,Person,Human,end of time,Iter,5,834,133,805,907,798,155,954
22427,Person,Human,end of time,Iter,1,51,210,277,993,894,384,174
22428,Person,Human,end of time,Iter,2,623,2,179,400,34,711,197
22429,Person,Human,end of time,Iter,3,624,745,663,239,623,635,371
22430,Person,Human,end of time,Iter,4,311,267,247,277,209,622,932
22431,Person,Human,end of time,Iter,5,137,717,778,975,207,447,151
22432,Person,Human,end of time,Iter,6,879,73,977,680,500,395,863